#controls {
    margin-top: 30px;
    text-align: center;
    font-size: 2em;
}

button {
    font-size: 1.5rem;
}

#strikes {
    display: flex;
    max-width: 100px;
    margin: auto;
}

#strike-marker {
    margin: 5px;
}

.target-container {
    position: absolute;
}

.target {
    fill: skyblue;
    stroke: gray;
    stroke-width: 2px;
    /* animation: expandTarget 1s ease-in; */
    /* animation-fill-mode: forwards; */
}

.obstacle {
    fill: red;
    stroke: gray;
    stroke-width: 2px;
}

.target:hover {
    stroke: green;
    stroke-width: 3px;
}

.obstacle:hover {
    stroke: black;
    stroke-width: 3px;
}

@keyframes expandTarget {
    0% { r:0%; }
    100% { r: 45%; }
} 
